@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@Html.ActionLink("Lista de clases", "Index", "Clases")
<br />
@Html.ActionLink("Lista de alumnos", "Index", "Alumnos")
<br />
@Html.ActionLink("Lista de usuarios", "Index", "Usuarios")
<br />
@Html.ActionLink("Lista de tareas", "Index", "Tareas")
<br />
@Html.ActionLink("Lista de alumno_tareas", "Index", "AlumnoTareas")
